apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: weather
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapi
  template:
    metadata:
      labels:
        app: webapi
    spec:
      containers:
      - name: weatherapi
        image: chrimson/weatherapi
        ports:
        - containerPort: 8080
