apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: set
spec:
  serviceName: svc
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
          name: web
        volumeMounts:
        - name: storage
          mountPath: /usr/share/nginx
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: pvc
